[submodule "vim/.vim"]
	path = vim/.vim
	url = https://github.com/behaghel/.vim.git
[submodule "pass/.password-store"]
	path = pass/.password-store
	url = https://gitlab.com/behaghel/pass.git
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/.oh-my-tmux"]
	path = tmux/.oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "emacs/install/git/mu"]
	path = emacs/install/git/mu
	url = https://github.com/djcb/mu.git
[submodule "python/.pyenv/plugins/pyenv-install-latest"]
	path = python/.pyenv/plugins/pyenv-install-latest
	url = https://github.com/momo-lab/pyenv-install-latest.git
[submodule "python/.pyenv/plugins/xxenv-latest"]
	path = python/.pyenv/plugins/xxenv-latest
	url = https://github.com/momo-lab/xxenv-latest.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/behaghel/.emacs.d.git
[submodule "mail/install/git/mu"]
	path = mail/install/git/mu
	url = https://github.com/djcb/mu.git
[submodule "emacs/install/git/emacs"]
	path = emacs/install/git/emacs
	url = https://git.savannah.gnu.org/emacs.git
[submodule "emacs/install/git/grasp"]
	path = emacs/install/git/grasp
	url = https://github.com/karlicoss/grasp.git
[submodule "._setup/testing/bats"]
	path = ._setup/testing/bats
	url = https://github.com/sstephenson/bats
[submodule "._setup/testing/libs/bats"]
	path = ._setup/testing/libs/bats
	url = https://github.com/sstephenson/bats
[submodule "._setup/testing/libs/bats-assert"]
	path = ._setup/testing/libs/bats-assert
	url = https://github.com/ztombol/bats-assert
[submodule "._setup/testing/libs/bats-support"]
	path = ._setup/testing/libs/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "._setup/testing/libs/bats-core"]
	path = ._setup/testing/libs/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule ".password-store"]
	path = .password-store
	url = https://gitlab.com/behaghel/pass.git
