alias ffh="nixGLIntel firefox -P home &"
alias ffw="nixGLIntel firefox -P work &"
alias t="nixGLIntel alacritty &"
# UNIX Shell
alias e="emacsclient"
alias p="cd $PROJECTS_DIR"
alias httpd="ruby -run -e httpd . -p 5000"
alias lst="tree -Car . | less -r"

## screen
alias screew="screen -c .screewrc"
alias scrin="screen -c .scrinrc"

# Coding

## Git
alias gst="git status"
alias gco="git checkout"

## Scala
alias sccala="scala -P:continuations:enable"
alias sccalac="scalac -P:continuations:enable"

## Java
### Maven
# ultra important : bloody system
alias mvn="MAVEN_OPTS=-Dfile.encoding=UTF-8 mvn"
alias mi="mvn install"
alias mt="mvn test"
alias mj="mvn jetty:run"
alias mci="mvn clean install"
alias mist="mvn -DskipTests=true install"
alias mcist="mvn -DskipTests=true clean install"
alias mpr="mvn process-resources"
alias mdj="mvn dependency:resolve -Dclassifier=javadoc"
alias mds="mvn dependency:resolve -Dclassifier=sources"

alias msc="mvn scala:console"

if [ -e ~/etc/aliases ]; then
  source ~/etc/aliases
fi
